# Data Science Tools and Ecosystem

In this notebook ,Data Science Tools And Ecosystem are summarized

Objectives:
* List popular languages for Data Science
* List popular libraries for Data Science
* Create markdown cells
* Add comments to code
* add ordered and unordered lists to markdown cells

Some of the popular languages that Data Scientists use are:
ordered list
1.python
2.R
3.scala
4.SQL
5.java
6.C++
7.julia

Some of the commonly used libraries used by Data Scientists include:
ordered list:-
1.pandas
2.Numpy
3.Matplotlib
4.Scikit-learn
5.Keras
6.TensorFlow
7.PyTorch
8.Apache Spark
9.ggplot2

|Data Science Tools|
 |-----------------|
|Anaconda|
|Jupyter Notebooks|
|R Studio|
|Apache Hadoop|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [3]:
(3*4)+5

17

In [4]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60.

## Author
Jyoti Patra